h1 {
  font-family: "Oswald";
  color: white;
}

h2 {
  font-family: "Oswald";
  color: white;
}

body {
  margin-top: 10pt;
  margin-bottom: 10pt;
  margin-left: 50pt;
  margin-left: 50pt;
  font-family: "Open Sans";
  color: white;
  background-color: black;
}

img {
  float: left;
  margin-right: 10px;
}

.bar {
  width: 150px;
  position: relative;
  display: block;
  float: left;
}

#left {
  width: 30%;
  float: left;
  margin-right: 20px;
}

#center {
  width: 30%;
  float: left;
margin-right: 20px;
}

#right {
  width: 30%;
  float: left;
}

