body {
  padding-top: 50px;  /* Move body of page below navbar. */
}

.page-content {
  padding: 10px;
  text-align: center;
}



img {
  float: left;
  margin-right: 10px;
}

.col-md-4 {
  column-gap: 10px;
}
